body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #FFD25A;
}

.lead {
  font-family: 'Bungee', cursive;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 5px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
  text-decoration: underline;
  color: #eee;
}

.fa-star {
  color: gold;
}

#loginImg {
  margin-top: 20px;
  height: 500px;
  right: -90px;
}

.loginBox {
  width: 40%;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  position: relative;
  top: 90px;
  background-color: #FFF05A;
  /* text-align: center;
  width: 300px; */
}

.loginLabel {
  display: inline-block;
  width: 120px;
}

.pageView {}

.contentView {
  background-color: white;
  margin-bottom: 20px;
}

.table {
  background-color: white;
}

.pageInfo {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.userPanel {
  padding: 20px;
}

.userPanelInfo {
  text-align: center;
}

#userName {
  /* float: left; */
  text-align: center;
  font-family: 'Bungee', cursive;
}

.beerName {
  font-family: 'Bungee', cursive;
}

.totalBeers {
  text-align: center;
}

.pagination {
  /* align-content: center; */
}

#deleteButton {
  width: 40%;
  margin: auto;
  margin-top: 20px;
}

.beerView {
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}

.backButton {
  text-align: left;
  margin-top: 50px;
  margin-left: 20px;
}

.addBeerButton {
  margin: 20px;
}

.searchSelect {
  margin-top: 20px;
  margin-bottom: 20px;
}

.beerForm {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* font-family: 'Bungee', cursive; */