<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <!-- <a href="/#/search">Back</a> -->
    <a ng-click="sc.goBack()">Back</a>
    <h1>{{sc.UserService.beer.nameDisplay}}</h1>
    <img ng-src="{{sc.UserService.beer.labels.large}}" ng-if="sc.UserService.beer.labels.large">
    <div ng-if="sc.UserService.beer.breweries[0].name">Brewery: {{sc.UserService.beer.breweries[0].name}}</div>
    <div ng-if="sc.UserService.beer.breweries[0].locations[0].locality">Location: {{sc.UserService.beer.breweries[0].locations[0].locality}}, {{sc.UserService.beer.breweries[0].locations[0].region}}</div>
    <div ng-if="sc.UserService.beer.breweries[0].locations[0].country.displayName">Country: {{sc.UserService.beer.breweries[0].locations[0].country.displayName}}</div>
    <div ng-if="sc.UserService.beer.style.shortName">Style: {{sc.UserService.beer.style.shortName}}</div>
    <div ng-if="sc.UserService.beer.abv">Abv: {{sc.UserService.beer.abv}}%</div>
    <div ng-if="sc.UserService.beer.ibu">Ibu: {{sc.UserService.beer.ibu}}</div>
    <div ng-if="sc.UserService.beer.description">Description: {{sc.UserService.beer.description}}</div>
    <input type="button" value="Add To List" ng-click="sc.showRatings()" ng-hide="sc.showRatingsInputs == true">
    <div ng-show="sc.showRatingsInputs == true">
        <form action="#" name="sc.ratingsForm">
            <!-- <div class="form-group">
                <label for="rating">Rating</label>
                <select id="rating" class="form-control" ng-model="sc.rating">
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                </select>
            </div> -->

            <div class="rating">
                <i id="star1" class="fa fa-star fa-4x" aria-hidden="true" ng-click="sc.toggleStar1()"></i>
                <i id="star2" aria-hidden="true" ng-click="sc.toggleStar2()">
                    <span class="fa fa-star-o fa-4x" ng-hide="sc.toggle2"></span>
                    <span class="fa fa-star fa-4x" ng-show="sc.toggle2"></span>
                </i>

                <i id="star3" aria-hidden="true" ng-click="sc.toggleStar3()">
                    <span class="fa fa-star-o fa-4x" ng-hide="sc.toggle3"></span>
                    <span class="fa fa-star fa-4x" ng-show="sc.toggle3"></span>
                </i>
                <i id="star4" aria-hidden="true" ng-click="sc.toggleStar4()">
                    <span class="fa fa-star-o fa-4x" ng-hide="sc.toggle4"></span>
                    <span class="fa fa-star fa-4x" ng-show="sc.toggle4"></span>
                </i>
                <i id="star5" aria-hidden="true" ng-click="sc.toggleStar5()">
                    <span class="fa fa-star-o fa-4x" ng-hide="sc.toggle5"></span>
                    <span class="fa fa-star fa-4x" ng-show="sc.toggle5"></span>
                </i>
            </div>

            <div class="form-group">
                <label for="comment">Leave a Comment</label>
                <textarea name="comment" id="comment" cols="30" rows="10" class="form-control" ng-model="sc.comment"></textarea>
            </div>
            <div class="form-group">
                <input type="button" value="Add Beer" class="form-control" ng-click="sc.addBeer(rating, comment)">
            </div>
        </form>

    </div>
</div>