<div ng-include="'views/partials/nav.html'"></div>
<div class="container pageView contentView">
    <p>
        In Search Page
    </p>

    <div class="row searchSelect">
        <div class="col-sm-6">
            <button class="btn btn-block btn-default" ng-click="sc.showBeerSearch()">Search By Beer</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-block btn-default" ng-click="sc.showBrewerySearch()">Search By Brewery</button>
        </div>
    </div>

    
    <form class="beerForm"  name="sc.beerForm" ng-show="sc.showBeerInput" ng-submit="sc.searchBeer()">
        <div class="form-group">
            <label for="beerName">Beer Name</label>
            <input type="text" autofocus required id="beerName" class="form-control" placeholder="Beer Name" ng-model="sc.search.inputBeer">
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="form-control btn-block btn-default" >Search Beer</button>
        </div>
    </form>

    <div ng-show="sc.showBeerInput">
        <table class="table table-hover">
            <caption>Search Results</caption>
            <thead>
                <tr>
                    <th>Beer</th>
                    <th>Brewery</th>
                    <th>Style</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="beer in sc.filteredResults" ng-href="#/beer" ng-click="sc.beerDetail(beer)">
                    <td>{{beer.nameDisplay}}</td>
                    <td>{{beer.breweries[0].name}}</td>
                    <td>{{beer.style.name}}</td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination">
            <li>
                <a href="" aria-label="Previous">
                    <span class="glyphicon glyphicon-arrow-left" ng-click="sc.moveOnePage('previous', sc.returnedBeers.list)"></span>
                </a>
            </li>
            <li ng-repeat="page in sc.pageList">
                <a ng-click="sc.pageResults(page, sc.returnedBeers.list)">{{page}}</a>
            </li>
            <li>
                <a href="" aria-label="Next">
                    <span class="glyphicon glyphicon-arrow-right" ng-click="sc.moveOnePage('next', sc.returnedBeers.list)"></span>
                </a>
            </li>
        </ul>
    </div>

    <div  ng-hide="sc.showBeerInput">
        <form class="beerForm" name="sc.breweryForm" ng-submit="sc.searchBrewery()">
            <div class="form-group">
                <label for="breweryName">Brewery Name</label>
                <input type="text" autofocus required id="breweryName" class="form-control" placeholder="Brewery Name" ng-model="sc.search.inputBrewery">
            </div>
            <br>
            <div class="form-group">
                <button type="button" class="form-control btn-block btn-default">Search Brewery</button>
            </div>
        </form>

        <table class="table table-hover" ng-hide="sc.showBeerInput">
            <caption>Search Results</caption>
            <thead>
                <tr>
                    <th>Brewery</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="brewery in sc.filteredResults" ng-href="#/brewery" ng-click="sc.breweryDetail(brewery)">
                    <td>{{brewery.name}}</td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination">
            <li>
                <a href="" aria-label="Previous">
                    <span class="glyphicon glyphicon-arrow-left" ng-click="sc.moveOnePage('previous', sc.returnedBreweries.list)"></span>
                </a>
            </li>
            <li ng-repeat="page in sc.pageList">
                <a ng-click="sc.pageResults(page, vm.returnedBreweries.list)">{{page}}</a>
            </li>
            <li>
                <a href="" aria-label="Next">
                    <span class="glyphicon glyphicon-arrow-right" ng-click="sc.moveOnePage('next', sc.returnedBreweries.list)"></span>
                </a>
            </li>
        </ul>
    </div>

</div>