<div ng-include="'views/partials/nav.html'"></div>
<div class="container" ng-init="uc.displayUserBeers()">

    <h1 id="welcome" class="lead">{{uc.userObject.userName}}</h1>
    

    <h2>Let's display some stuff.</h2>
    <table class="table table-hover">
        <caption>Search Results</caption>
        <thead>
            <tr>
                <th>Beer</th>
                <th>Brewery</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="beer in uc.returnedUserBeers.list.list" >
                <td>{{beer.beer_name}}</td>
                <td>{{beer.brewery_name}}</td>
            </tr>
        </tbody>
    </table>

</div>
